Package: me.hunterwittenborn.Juice
Name: Juice
Version: 0.1.3-git
Section: Themes
Architecture: iphoneos-arm
Author: Hunter Wittenborn <git@hunterwittenborn.me>
Maintainer: Hunter Wittenborn <git@hunterwittenborn.me>
Description: A port of the Papirus icon theme to iOS
