Package: me.hunterwittenborn.Juice
Name: Juice
Description: A port of the Papirus icon theme to iOS
Version: 0.2.2-3
Section: Themes
Architecture: iphoneos-arm
Depends: com.anemonetheming.anemone | com.spark.snowboard
Author: Hunter Wittenborn <git@hunterwittenborn.me>
Maintainer: Hunter Wittenborn <git@hunterwittenborn.me>
